@import "../../style/variables.scss";

.lesson-view__loader {
  position: absolute !important;
  top: 0 !important;
  height: 100vh;
  width: 100vw;
}

.lesson-view__error-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .button {
    width: 200px !important;
    margin: auto !important;

    a {
      color: $white !important;
    }
  }
}

.lesson-view__error-message {
  margin: 2rem auto !important;
  max-width: 500px;
}

.lesson-view__container {
  position: absolute;
  top: 0;
  min-height: 100vh;
  z-index: 1;
  width: 100vw !important;
  background: $white;
}

.lesson-view__grid,
.lesson-view__grid-preview {
  max-width: 800px;
  min-height: 100vh;
  background: $white;
  margin: auto !important;
  width: 100vw;
  padding: 0.5rem !important;
  .row .column {
    padding-top: 0 !important;
    padding-left: 0 !important;
  }
}

.lesson-view__grid-preview {
  max-width: 100%;
  padding: 1rem !important;
}

.lesson-view__button-close {
  position: relative;
  top: 2px;
  padding: 0 !important;
  background: none !important;
  right: -0.5rem;
}

.lesson-view__progress-bar {
  float: left;
  width: 95%;
}

.lesson-view__task-header {
  display: none;
  color: $light-sea !important;
  text-transform: uppercase !important;
}

.lesson-view__side-label-chapter,
.lesson-view__side-label-title {
  position: fixed !important;
  left: -4px;
  width: 180px;
  line-height: 1.5rem !important;
  padding: 0.6rem !important ;
  padding-left: 14px !important;
  word-break: break-word;
}

.lesson-view__side-label-chapter {
  top: 100px;
}

.lesson-view__side-label-title {
  top: 200px;
}

.lesson-view__chapter-container {
  color: $black;
  padding: 0.8rem 0;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  p,
  div,
  em {
    line-height: 2.5rem;
    font-size: $text-main-size !important;
    word-break: break-word;
  }
}

/* || Shared exercises selectors */

.lesson-view__exercise-answers-container {
  margin-bottom: 25px;
  border-radius: 16px;
  border: solid $white-grey;
  border-width: 2px 2px 4px !important;
}

.lesson-view-exercise__answers-list {
  display: flex;
  flex-wrap: wrap;
}

.lesson-view__exercise-answer-field {
  cursor: not-allowed;
  padding: 1.1rem;
}

.lesson-view-exercise__input {
  position: relative;
  margin-top: 0.2rem;
  padding: 0 0.5rem;

  input[type="text"] {
    border-radius: 2px !important;
    border: none !important;
    padding: 3px 10px 0 10px !important;
    border-bottom: 1px solid $black !important;
  }
}

.lesson-view-exercise__sentence {
  padding-bottom: 1.5rem;
}

.lesson-view-exercise__input--correct {
  opacity: 1 !important;
  user-select: none;
  input {
    color: $white !important;
    background-color: $green-success !important;
  }
}

.lesson-view-exercise__input--incorrect {
  opacity: 1 !important;
  user-select: none;
  input {
    color: $white !important;
    background-color: lightcoral !important;
  }
}

.lesson-view__button-group {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 5px solid $white-grey;

  .button {
    margin: 0 !important;
    margin-top: 3rem !important;
    height: 40px;
  }
}

.lesson-view__exercise-detailed-description {
  margin-top: 1rem !important;
  font-style: italic;
  font-weight: 400 !important;
}

.lesson-view-exercise__check-container {
  margin-top: 0.5rem;
}

.lesson-view-exercise__check-button {
  margin: 0.8rem 0.8rem 0 0 !important;
  width: 150px;
}

@media only screen and (max-width: 1199px) {
  .lesson-view__task-header {
    display: block;
  }

  .lesson-view__side-label-chapter,
  .lesson-view__side-label-title {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .lesson-view__grid {
    min-width: 100% !important;
    margin: 0 !important;
    padding: 0 1rem !important;
  }

  .lesson-view__error-message {
    margin: 1rem !important;
  }

  .lesson-view__chapter-container div iframe {
    min-width: 100%;
    min-height: 300px;
    padding-bottom: 1rem;
  }
}
