@import "../../../../style/variables.scss";

.another-account__paragraph {
  padding-top: 0.5rem;
  font-size: $text-main-size;
}

.social-image-facebook {
  margin-left: 1rem;
  border-radius: 2px;
}

.social-image-google,
.social-image-facebook {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 1919px) {
  .social-image-facebook,
  .social-image-google {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}
