@import "../../style/variables.scss";

.nav-bar__menu-container {
  height: 80px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 5px 0 rgba(34, 36, 38, 0.15) !important;
  background: $white;
}

.nav-bar__menu {
  margin: 0 !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
  padding-right: 2.5rem;
}

.nav-bar__sub-menu {
  font-size: 16px;

  .item {
    padding-right: 0.9rem !important;
    cursor: default !important;

    a {
      color: $dark-grey !important;
    }
  }

  .active.item {
    background: $white !important;
  }

  .active > a {
    cursor: default !important;
    text-decoration: underline $light-green;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    user-select: none !important;
  }

  .dropdown {
    margin: auto !important;

    .text {
      margin-right: 5px;
    }
  }
}

.cookies-message {
  display: flex;
  justify-content: space-between;
  position: fixed !important;
  bottom: 0;
  margin-bottom: 0 !important;
  z-index: 5;
  width: 100%;
  background: rgba($color: $black, $alpha: 0.7) !important;
  border: none !important;
  border-radius: 0 !important;

  .header {
    position: relative !important;
    top: 7px;
    color: $white !important;
    font-weight: 100 !important;

    a {
      color: $white !important;
      font-weight: 500 !important;
      text-decoration: underline;
    }
  }
}

.mobile-nav-bar {
  display: none;
}

@media only screen and (min-width: 1919px) {
  .nav-bar__menu {
    max-width: $wide-container-width;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 991px) {
  .nav-bar__sub-menu {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .nav-bar__menu {
    display: none !important;
  }

  .nav-bar__menu-container {
    height: auto !important;
    margin: 0px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }

  .mobile-nav-bar {
    display: block;
    opacity: 1;
    height: 55px;
    padding-left: 0 !important;
  }

  .mobile-nav-bar__icon-container {
    display: flex !important;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
    height: 55px;
  }

  .mobile-nav-bar__logo-container {
    display: block;
    height: 40px;
    width: 40px;
  }

  .mobile-menu--open {
    display: block;
    position: relative;
    text-align: center;
    height: 100vh;
    padding-top: 1.5rem;
    background: $white;
    z-index: 2;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mobile-menu__item-container .content {
    font-weight: bold;
    padding: 1rem 0;
    color: $dark-grey;
    letter-spacing: 2px;
  }

  /* Hamburger Menu */

  #hamburger {
    width: 60px;
    height: 45px;
    cursor: pointer;
    transform: rotate(0deg) scale(0.5);
    transition: 0.5s ease-in-out;
    right: 0;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 50%;
    background: $dark-grey;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #hamburger span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #hamburger span:nth-child(1),
  #hamburger span:nth-child(2) {
    top: 0px;
  }

  #hamburger span:nth-child(3),
  #hamburger span:nth-child(4) {
    top: 18px;
  }

  #hamburger span:nth-child(5),
  #hamburger span:nth-child(6) {
    top: 36px;
  }

  #hamburger.open span:nth-child(1),
  #hamburger.open span:nth-child(6) {
    transform: rotate(45deg);
  }

  #hamburger.open span:nth-child(2),
  #hamburger.open span:nth-child(5) {
    transform: rotate(-45deg);
  }

  #hamburger.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #hamburger.open span:nth-child(5) {
    left: 5px;
    top: 27px;
  }

  #hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 27px;
  }
}
