@import "../../../../style/variables.scss";

.compact-picker-container {
  position: absolute;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
  z-index: 5 !important;
}

.video-player-icon {
  position: relative;
  top: -2px;
}

.default-embedded {
  display: none !important;
}

.editor-toolbar {
  background-color: $chetwode-blue;
}

.editor-toolbar {
  .rdw-block-wrapper,
  .rdw-fontfamily-wrapper,
  .rdw-fontsize-wrapper {
    .rdw-dropdown-wrapper > .rdw-dropdown-selectedtext {
      color: $black !important;
    }
  }
}

.editor-toolbar > * > .rdw-option-active {
  background: $corn-silk !important;
  border: 1px solid $light-grey;
  color: $white !important;
}

.container-preview {
  margin-top: 2%;
}

.rdw-embedded-modal {
  box-shadow: 1px 1px 3px $light-grey !important;
}

/* Video Plugin */

.video-popup {
  width: 265px !important;
  margin-top: 0.2rem !important;
}

.video-add-button {
  background: $chetwode-blue !important;
}

.video-cancel-button,
.video-add-button {
  min-height: 33px;
}

//------------------

.rdw-image-modal {
  left: -100px !important;
}

.rdw-emoji-wrapper,
.rdw-remove-wrapper {
  display: none !important;
}

.rdw-editor-main {
  line-height: 2rem;
  word-break: break-word !important;
}

.rdw-image-imagewrapper > * {
  max-width: 100% !important;
}

.admin-eye-dropper {
  position: relative;
  top: -2px;
  left: 1px;
}
