@import "../../style/variables.scss";

.footer {
  min-height: 70px !important;
  margin: 0 !important;
  background-color: $white-grey !important;
  box-shadow: 2px 3px 1px 5px rgba(34, 36, 38, 0.15);
  width: 100%;

  .row {
    max-width: $wide-container-width;
    margin: 0 auto !important;
    padding: 0 2rem 0 0 !important;

    .column .menu .item {
      padding-bottom: 0.1rem !important;
    }
  }
}

.footer__menu {
  display: flex !important;
  justify-content: center;

  .item a {
    color: rgba(0, 0, 0, 0.6) !important;

    &:hover {
      color: rgba(0, 0, 0, 0.9) !important;
    }
  }
}

.footer__item {
  color: $black;
  font-weight: bold !important;
}

.footer__icon-list {
  margin: 1em -1em !important;
  .menu .item a i {
    opacity: 1 !important;
  }
}

.footer-icon-facebook {
  color: $facebook-blue !important;
}

@media only screen and (max-width: 767px) {
  .footer .row {
    flex-direction: column !important;
    padding: 0 !important;
  }

  .footer__grid-logo {
    display: none !important;
  }

  .footer__menu {
    margin: 0 !important;
  }

  .footer__icon-list {
    display: flex !important;

    .menu {
      justify-content: center !important;
    }
  }
}
