@import "../../style/variables.scss";

.account__container {
  margin: 1rem auto !important;
  max-width: $large-container-width;
}

.account__content-column {
  padding-right: 2.5rem !important;
}

@media only screen and (max-width: 767px) {
  .account-content-column {
    max-width: 100vw !important;
    margin-top: 1rem !important;
    padding-right: 1rem !important;
  }
}
