@import "../../../style/variables.scss";

.left-side-sign {
  letter-spacing: 4px;
  margin: auto !important;
}

.left-side-sign__container {
  width: 450px;
  margin-left: auto;
}

.left-side-sign__image {
  height: 400px;
}

.style-love {
  font-family: "Lobster";
  color: $light-green;
}

@media only screen and (max-width: 991px) {
  .left-side-sign {
    display: none !important;
  }
}
