/* 
    Shared styles within admin page
*/
@import "../../../../style/variables.scss";

/*  Create Lesson Template Component */
.create-lesson__card {
  min-width: 200px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 3px 0 $light-sea, 0 0 0 1px $light-sea !important;
  }

  .image {
    img {
      padding: 2rem;
      background: $white;
    }
  }

  .content {
    border: none !important;
  }
}

.icon-trigger {
  margin-left: 5px !important;
}

.create-lesson__image-button-group {
  height: 38px;
}

.create-lesson__tab-lesson-stages {
  .tab {
    border: none !important;
  }

  .attached.segment {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .menu .item:last-child {
    position: absolute;
    right: 15px;
  }
}

.create-lesson__submit-button-container {
  display: flex;
  justify-content: flex-end;

  .button {
    margin-right: -0.1rem !important;
  }
}

.create-lesson__upload-image-container img {
  height: $card-height;
  width: $max-card-width !important;
}

/* Common Sections Selectors */

.new-field__header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid $chetwode-blue;
}

.new-field__header {
  margin: auto 0 !important;
}
.new-field-builder__container {
  margin-bottom: 10px !important;
}

.new-field__header-toolbar {
  .icon {
    position: relative;
    top: -1px;
  }
  button {
    padding: 0px !important;
    background: none !important;
    margin: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.new-field-builder__button--toggle-view {
  margin-right: 5px !important;
  color: $brown !important;
}

.new-field-builder__text-area--one-line,
.new-field-builder__text-area--multiple-lines {
  padding: 0.78571429em 1em !important;
  border: none !important;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.new-field-builder__text-area--one-line {
  height: 40px;
}

.new-field-builder__text-area--multiple-lines {
  height: 150px;
  line-height: 2rem;
}
