@import "../../../style/variables.scss";

.lesson-card__container {
  max-width: $max-card-width !important;
  &:hover {
    outline: 0;
    box-shadow: 0px 0px 1px 1px $light-sea !important;
  }

  .header {
    color: $black !important;
    margin: 0 1rem !important;
    padding-bottom: 1rem !important;
    font-weight: 500 !important;
    word-break: break-word;
  }
}

.lesson-card__progress-info .bar {
  height: 1.5rem !important;

  .progress {
    right: 0.1rem !important;
  }
}

.lesson-card__icon-star {
  padding-left: 0.5rem;

  .icon {
    position: relative;
    bottom: 2px;
  }
}

.lesson-card__placeholder,
.lesson-card__image-container,
.lesson-card__image-container img {
  height: $card-height;
}

.lesson-card__image-container img {
  display: block;
  width: 100%;
}

.lesson-card__default-image img {
  margin: auto;
  width: auto;
  max-width: 100%;
}

// ----------------------------

@media only screen and (max-width: 1199px) {
  .lesson-card__container .header {
    font-size: 1.3rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .lesson-card__container {
    max-width: 290px !important;
  }
}

@media only screen and (max-width: 767px) {
  .lesson-card__container {
    width: auto !important;
  }
}
