@import "../../../../style/variables.scss";

.sign-grid {
  display: table-cell !important;
  vertical-align: middle !important;
  max-width: $wide-container-width;
}

.sign-grid__right-column {
  margin: auto;
}
