@import "../../../../style/variables.scss";

.lesson-view__content-video-embed {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
  background: $white;
}

@media only screen and (max-width: 1400px) {
  // .content-video-search-note-container {
  //   top: 65%;
  //   padding-top: 1.5rem;
  // }
}
