@import "../../style/variables.scss";

.topic-list__grid {
  margin: auto !important;
  max-width: $large-container-width;
  padding: 1rem 1.5rem !important;
}

.topic-list__header-row {
  flex-direction: row;
  margin: 0 1rem;
  border-bottom: 2px solid $chetwode-blue;
  .column {
    padding-left: 0 !important;
  }
}

.topic-list__card-header,
.topic-list__header {
  text-align: left;
  color: $coral-pearl !important;
}

.topic-list__card-column {
  margin-bottom: 1rem !important;
}

.topic-list__card-container {
  height: 120px;
  border: 1px solid $white !important;

  &:hover {
    border: 1px solid $light-sea !important;
    outline: 0;
    box-shadow: none !important;
  }
}

.topic-list__card-content {
  display: flex;
  padding: 0.4rem !important;
  border-top: none !important;
}

.topic-list__card-image {
  width: 100px;
  height: auto;
  margin: auto 1rem;
  img {
    max-height: 80px;
  }
}

.topic-list__card-header {
  font-size: 1.5rem !important;
}

.card-arrow {
  top: 8px;
  right: 5px;
  position: absolute;
  color: transparent;
}

.topic-list__card-container:hover .card-arrow {
  color: $light-sea !important;
}

.topic-list__card-text-container {
  width: 100%;
  padding-left: 0.5rem !important;
  margin: auto;
}

@media (max-width: 1199px) and (min-width: 991px) {
  .topic-list__header-row {
    margin: 0 5rem !important;
  }

  .topic-list__cards-row {
    margin: 0 0 0 4rem;
  }
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
  .topic-list__grid {
    width: 750px;
  }
}

@media only screen and (max-width: 767px) {
  .topic-list__grid {
    max-width: 500px;
    padding: 1rem !important;
  }

  .topic-list__header-row {
    margin: 0;
  }

  .topic-list__header {
    text-align: center;
    padding-bottom: 1.5rem !important;
  }

  .topic-list__card-column {
    padding: 0 !important;
    padding-bottom: 0.5rem !important;

    &:first-child {
      padding-top: 0.5rem !important;
    }
  }

  .topic-list__card-image img {
    width: 100% !important;
    height: 80px !important;
  }
}
