@import "../../../../../style/variables.scss";

/* Shared Styles Within Practice Components */

.practice-container__form .menu .item:last-child {
  right: 0 !important;
}

.exercise-container {
  padding-top: 0 !important;
}

.exercise-container__toolbox {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.exercise-container__fields-quantity {
  position: relative;
  top: 1px;
  padding: 7px 10px;
  margin-right: 5px !important;
  min-width: 40px;
  height: 36px;
  margin-bottom: 0 !important;
  border: 1px solid brown;
  border-radius: 5px;

  .label {
    margin-right: 10px !important;
    padding: 0px !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
  }

  .value {
    position: relative;
    right: 4px;
    top: -1px;
    span {
      font-size: 1.2rem !important;
    }
  }
}

.exercise-container__builder-container .row .column {
  display: flex !important;
  flex-direction: column;
  padding-bottom: 0 !important;
}

.exercise-container__textarea-label {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600 !important;
  font-size: 0.9rem !important;
}

.exercise-container__text-area {
  font-size: 1em;
  line-height: 1.2857;
  margin: 0;
  margin-top: 5px !important;
  padding: 0.78571429em 1em !important;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  border: 1px solid rgba(34, 36, 38, 0.15);
  &:focus {
    outline: none !important;
  }
}

/* || Complete Sentences Exerice */

.answer-textarea {
  display: flex;
  width: 92%;
  background: $white-smoke;
  border: none;
  cursor: not-allowed;
}

.init-word-textarea {
  max-width: 90%;
}

/* || Cloze Exercise  */

.cloze-exercise__fields-container {
  height: 400px;
}

.cloze-exercise__field {
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

@media only screen and (max-width: 1199px) {
  .exercise-container__label-name {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .exercise-container__fields-quantity {
    margin: 0 5px 0 0 !important;
  }
}
