@import "../../../../style/variables.scss";

.sign-form__field {
  margin-top: 1.5rem !important;
}

.sign-form__label {
  font-size: $text-main-size !important;
  font-weight: 300 !important;
  letter-spacing: 1px;
  padding-bottom: 0.2rem;
}
