@import "../../style/variables.scss";

/* Shared styles across Sign & Form components */

.sign-form {
  width: 450px;
  padding: 2rem;
  margin-left: 3rem;
  box-shadow: 1px 1px 5px 0px $dark-grey;
  border-radius: 2px;
  background-color: $snow;
}

.sign-form__header {
  letter-spacing: 1px;
  text-align: center !important;
}

.sign-form__error-no-users {
  color: brown;
  text-align: center;
  padding: 5px;
  background: $white;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid $light-red;
}

.sign-word a {
  cursor: pointer;
  color: $facebook-blue;
  font-weight: bold;
  padding-left: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.sign-form__account-ask {
  font-size: $text-main-size;
}

/* Forgot Password */

.sign-form__forgot-password {
  padding-top: 0.5rem;
  a {
    color: $facebook-blue !important;
  }
  &:hover {
    text-decoration: underline;
  }
}

/* Submit Buttons */

.sign-form__submit-button {
  width: 100%;
  background-color: $dark-grey !important;

  &:hover {
    box-shadow: 1px 1px 4px $light-grey !important;
  }
}

.sign-form__submit-button-text {
  letter-spacing: 1px;
  color: $white;
  font-size: $text-main-size;
  font-weight: 500;
}

.sign-form__popup-password-requirements {
  cursor: pointer !important;
  padding-left: 5px;
}

@media only screen and (max-width: 991px) {
  .sign-form {
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .sign-form {
    max-width: 400px !important;
    width: 100%;
    padding: 0;

    .field {
      padding-bottom: 0.5rem !important;
    }
  }

  .sign-form {
    box-shadow: none;
    background: none;
  }
}
