@import "../../../../../style/variables.scss";

/* Common Style */

.change-username__requirement-description,
.sign-in-management__description,
.password-change__requirement-description,
.delete-account--warning {
  font-size: $text-main-size;
}

.delete-account__error-message,
.password-change__error-message,
.update-profile__error-message {
  margin-top: 1rem !important;
}

/* Change Password */

.password-change__button-container,
.update-profile__button-container {
  margin-bottom: 0 !important;
  display: flex !important;
  justify-content: flex-end !important;

  .message {
    padding: 0.5rem 1.5em 0em 1.5em !important;
    margin: 0px !important;

    .content {
      position: relative;
      top: 3px;
    }
  }

  .button {
    height: 40px !important;
    align-self: flex-end;
  }
}

.password-change__requirement-list .item {
  font-size: $text-main-size;
  line-height: 1.5rem !important;
}

/* Delete Account Component */

.delete-account__container {
  display: flex;
  justify-content: space-between;
}

.delete-account__button-container {
  display: flex;
}

/* Sign in Management Component */

.sign-in-management__social-container {
  display: flex;
}

.sign-in-management__social-name {
  display: table;
  width: 120px;
  height: 40px;
  span {
    display: table-cell;
    vertical-align: middle;
  }
}
