@import "../../../../style/variables.scss";

.lesson-view__about-grid {
  margin: 0 !important;
}

.lesson-view__about-column {
  * {
    line-height: 2.5rem !important;
    font-size: $text-main-size !important;
    color: $black !important;
  }
}

.lesson-view__about-placeholder {
  width: 300px;
  margin-top: 0.8rem !important;
}

.lesson-view__about-placeholder,
.lesson-view__about-image {
  padding-left: 0.1rem;
  padding-top: 0.8rem;
  max-width: 300px;
  max-height: 250px !important;
  float: right;
}
