@import "./variables";

/* || General styles */

html {
  scroll-behavior: smooth;
}

#root {
  background: url("../assets/images/background.svg");
  background-size: cover;
  font-size: $text-main-size;
}

.capitalize {
  text-transform: capitalize !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.beat-bold b {
  font-weight: 100 !important;
}

.italic {
  font-style: italic !important;
}

.focus-outline-none:focus {
  outline: none !important;
  box-shadow: none !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.border-0 {
  border: 0 !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* || Cursors */

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* || Colors */

.text-black {
  color: $black !important;
}

/* || Background */

.bg-white {
  background: $white !important;
}

/* || Width */

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

/* || Height */

.h-100 {
  height: 100% !important;
}

.h-50 {
  height: 50% !important;
}

.h-25 {
  height: 25% !important;
}

/* || Margins */

.m-auto {
  margin: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

/* || Paddings */

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

/* || Flex */

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

/* || Typography */

h1 {
  font-family: "Alegreya", serif !important;
  font-size: 36px !important;
}

/* || Float */

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/* || Background */

.bg-transparent {
  background: transparent !important;
}

/* || Position */

.position-absolute {
  position: absolute !important;
}

/* || Navigation and Footer */

.logo {
  margin-left: 25px;
  margin-right: 50px;
  width: 50px;
  height: 50px;
}

/* || Buttons  */

.button-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.button-remove {
  color: $red !important;
}

.button-add {
  color: $green-success !important;
}

/* Tutorial Popup */

.tutorial-popup-container {
  display: flex;
  flex-direction: column;

  .list {
    margin-top: 0px !important;
    .item {
      line-height: 22px !important;
    }
  }
}

.tutorial-popup-container__sentence-span {
  padding-left: 5px;
}

/* || Shared values for exercies */

.exercise-sentence-number-span {
  position: relative;
  top: 1px;
  width: 20px;
  overflow: hidden;
  height: 20px;
  padding-right: 0.5rem;
}

.lesson-view-match-icon {
  cursor: pointer;
  padding-left: 5px;
}

.lesson-view-exercise__button-icon {
  padding-left: 5px;
}

.loader-whole-screen {
  min-height: $landing-wrapper-min-height;
  border: none !important;
  border-radius: 1px !important;
}

.writing-task__sub-header {
  color: $light-sea !important;
}

@media only screen and (max-width: 767px) {
  #root {
    background: $white !important;
  }

  .loader-whole-screen {
    height: calc(100% - 40px);
    border: none !important;
  }

  .input-search {
    width: 100% !important;
  }
}
