/* Colors */
$white: #fff;
$white-grey: #e2e2e2;
$white-smoke: #f1f1f1;
$magnolia: #f6f5fa;
$snow: #fbfafb;
$black: #000;
$dark-grey: #585555;
$light-grey: #b4b4b4;
$light-green: #33cccc;
$light-sea: #20b2aa;
$malachite: #3c9294;
$green-success: #20ba45;
$facebook-blue: #3a5998;
$corn-silk: #fff8dc;
$chetwode-blue: #aeb9d2;
$coral-pearl: #576071;
$light-red: #e0b4b4;
$red: #fc3437;
$brown: #a5673f;
$semantic-segment-secondary: #f3f4f5;

/* Shared measurements */

/* Containers */

$wide-container-width: 1920px;
$large-container-width: 1600px;
$landing-wrapper-min-height: calc(100vh - 150px);

/* Blocks */

$max-card-width: 260px;
$card-height: 180px;

/* Shared font sizes */

$text-main-size: 18px;
