@import "../../style/variables.scss";

.admin-page__container {
  width: calc(100vw - 3rem);
  margin: 2rem auto !important;
  max-width: $wide-container-width;
}

.admin-page__reset-progress-button {
  position: absolute;
  right: 0;
  font-weight: 100 !important;
  color: $black !important;
  background: none !important;
}

.admin-page__message {
  display: none;
}

.icon-settings__popup {
  margin-left: -10px !important;
  opacity: 0.9 !important;
}

/*  Editor */

.editor-area {
  min-height: 300px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: $white !important;
  border: 1px solid $white-smoke;
  font-size: $text-main-size;
}

@media only screen and (max-width: 767px) {
  .admin-page__container {
    display: none !important;
  }

  .admin-page__message {
    display: flex;
    height: 100%;

    .message {
      height: auto;
      margin: auto 1rem !important;
    }
  }
}
