@import "../../style/variables.scss";

.lesson-list {
  margin: auto !important;
  max-width: 1200px;
  padding: 1rem 1.5rem !important;
}

.lesson-list__header-row {
  flex-direction: row !important;
  margin: 0 1rem !important;
  border-bottom: 2px solid $chetwode-blue;
  .column {
    padding-left: 0 !important;
  }
}

.lesson-list__header {
  word-break: break-word;
  color: $coral-pearl !important;
}

.lesson-list__info-message {
  margin-top: 1.5rem !important;
  word-break: break-word;
}

.lesson-list__search-column {
  display: flex !important;
  justify-content: flex-end;
  padding-right: 0 !important;

  .form .fields {
    margin: 0 !important;

    .field {
      padding-right: 0 !important;
    }
  }
}

.lesson-list__checkbox-field {
  margin: auto !important;

  .field .checkbox {
    label {
      font-size: 1.05rem;
      margin-left: 10px;
    }
  }
  label:before,
  label:after {
    color: teal !important;
  }
}

@media only screen and (max-width: 1119px) {
  .lesson-list__checkbox-field .field .checkbox label {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .lesson-list {
    padding: 0 !important;
  }

  .lesson-list__header {
    position: relative;
    top: 1.5rem;
    text-align: center;
  }

  .lesson-list__search-column {
    flex-direction: column-reverse !important;

    form .fields {
      flex-direction: column-reverse !important;

      .field {
        margin: 0.8rem 0rem 0 0 !important;
        justify-content: flex-end !important;
      }
    }
  }

  .lesson-list__checkbox-field .field .checkbox label {
    padding-left: 2.5rem !important;
  }
}
