@import "../../../../../../style/variables.scss";

.writing-task__bullet-point-header {
  margin-right: 0.5rem !important;
}

.writing-task__edit-button {
  float: right;
  background: none !important;
  padding: 0.8rem !important;
}

.writing-task__text-area {
  position: relative;
  padding: 5px;
  height: 30px;
  top: 2px;
  width: 90%;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
