.privacy-policy__container {
  padding: 2rem 0;
  margin: auto !important;
}

@media only screen and (max-width: 767px) {
  .privacy-policy__container {
    margin: 0.5rem !important;

    .segment {
      box-shadow: none !important;
      border: none !important;
    }
  }
}
