@import "../../style/variables.scss";

.landing-wrapper {
  display: table;
  height: $landing-wrapper-min-height;
  width: 100%;
}

.landing-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
