@import "../../../../../../style/variables.scss";

.video-content-form .menu .item {
  text-transform: capitalize !important;

  &:last-child {
    right: 0 !important;
  }
}

.video-content__transcript_container {
  background-color: $semantic-segment-secondary !important;
}
