@import "../../style/variables.scss";

.home-page__grid {
  min-height: $landing-wrapper-min-height;
  margin: 0 !important;
}

.home-page__slogan-row {
  background: $malachite;
}

.home-page__slogan-row,
.home-page__benefits-row {
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.home-page__benefits-row {
  padding-top: 0 !important;
}

.home-page__slogan-wrapper {
  max-width: 990px;
  margin: auto !important;
  padding-top: 5rem !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.home-page__slogan-header {
  font-size: 3rem !important;
  color: $white !important;
}

.home-page__subheader {
  padding: 2rem 0 4rem 0 !important;
  font-size: $text-main-size;
  line-height: 2rem;
  text-align: center;
  color: $white;
}

.home-page__benefits-row .column {
  padding: 0 !important;
  border-radius: 0 !important;
}

.home-page__slogan-column {
  min-height: 500px;
}

.home-page__svg-middle {
  position: relative;
  z-index: 1;
  bottom: -10px;
}

.home-page__slogan-background-svg {
  fill: $white;
}

.home-page-right-column img {
  margin: auto !important;
}

.home-page__benefits-segment {
  height: 100%;
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: 0 !important;
  font-size: $text-main-size !important;
}

.home-page__header {
  margin-top: 3rem !important;
  color: $black;
}

.home-page__image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.home-page__image-mobile {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .home-page__slogan-header {
    font-size: 2rem !important;
  }

  .home-page__grid {
    width: 100vw !important;
    padding: 0 !important;
  }

  .home-page__benefits-segment {
    padding-bottom: 2rem !important;
  }

  .home-page-segment {
    border: none !important;
    box-shadow: none !important;
  }

  .home-page__benefits-column-asset {
    display: none !important;
  }

  .home-page__header {
    text-align: center;
    font-size: 1.5rem !important;
  }

  .home-page__image-mobile {
    display: block !important;
    margin: auto;
    height: 100px;
    width: 100px;
    margin-bottom: 1rem !important;
  }

  .home-page__subheader {
    font-size: $text-main-size !important;
  }
}
