@import "../../../../../../style/variables.scss";

.new-vocabulary-structure-container__character {
  position: relative;
  top: 10px;
  right: 0.5rem;
  color: $black !important;
}

.new-vocabulary__header-container .header {
  margin-right: 0.5rem !important;
}

.new-vocabulary-example--button-remove .button {
  display: flex !important;
  justify-content: center !important;
  margin-left: 5px !important;
  margin-right: 0 !important;
  width: 40px;
  .icon {
    margin: 0 !important;
  }
}

.new-vocabulary__remove-field-icon {
  position: relative;
  top: -2px;
  margin: auto !important;
  padding: 0px !important;
}
