@import "../../../../style/variables.scss";

.account-home-page__overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .list {
    margin: auto 0 !important;
  }
}

.account-home-page__tooltip {
  background-color: $white;
  padding: 10px;
  border: 1px solid $light-grey;
  border-radius: 5px;
}

.account-home-page-statistic {
  margin-left: 50px !important;
}

.account-home-page-pie-chart {
  display: flex;
  justify-content: center;

  .recharts-wrapper
    > .recharts-legend-wrapper
    > .recharts-default-legend
    > .recharts-legend-item
    > .recharts-surface
    > .recharts-legend-item-text {
    position: relative !important;
    top: 22px !important;
  }
}

.account-home-page__dimmer {
  position: relative !important;
  height: 300px !important;
}

.account-home-page__message {
  display: block;
  margin: 1.5rem auto !important;
  width: 500px;
  padding: 200px;
  text-align: center;

  .content {
    padding: 5px;
  }
}

@media only screen and (max-width: 991px) {
  .account-home-page-overview {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .account-home-page-overview {
    .list .item {
      font-size: 1rem !important;
    }
  }
}
