@import "../../../../style/variables.scss";

.admin-lesson-list__header-row {
  border-bottom: 2px solid $chetwode-blue;
}

.admin-lesson-list-header {
  position: relative;
  top: 1rem;
  color: $coral-pearl !important;
}

.admin-lesson-list__table {
  table-layout: fixed !important;

  tbody tr td {
    word-break: break-word;
  }
}

.admin-lesson-list__link {
  color: $dark-grey !important;

  &:hover {
    color: $facebook-blue !important;
  }
}

.admin-lesson-list__action-icon {
  background: none !important;
  margin: 0px !important;

  .icon {
    margin: 0px !important;
  }
}

.admin-lesson-list__lessons-quantity-container {
  display: table;
  height: 40px;

  span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: $dark-grey;
  }
}
